body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}
h1 {
    color: #17170c;
    text-align: center;
}
h2 {
    color: #333;
    border-bottom: 2px solid #f3c436;
    padding-bottom: 5px;
}
p {
    line-height: 1.6;
}
ul, ol {
    margin-left: 20px;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
a {
    color: #e3bb43;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
